<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('oc_core_homepage') }}">OC-Annonces</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('oc_platform_home', { 'page': 1 }) }}">
                                Liste des annonces
                            </a>
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="{{ path('oc_platform_add') }}">
                                Ajouter une annonce
                            </a>
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="{{ path('oc_core_contact') }}">
                                Contact
                            </a>
                            <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <p class="navbar-text navbar-right"></p>
                </div>
            </div>
        </nav>
        
        
        {% block errors %}
            
        {% endblock %}
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
